[pull]
  rebase = true

[user]
  name = troy.schneringer
  email = troy.schneringer@gmail.com

[core]
  editor = nano

[color]
  ui = true

[fetch]
  prune = true  

[push]
  default = upstream

[alias]
  amend = commit --amend --no-edit
  pr = "!f() { \
          git checkout -b $1 && git commit --allow-empty -m 'create branch' && gh pr create --draft --title \"$2\" --body '// TODO'; \
        }; f"
