[pull]
  rebase = true

[user]
  name = troy.schneringer
  email = troy.schneringer@gmail.com

[core]
  editor = nano

[color]
  ui = true

[fetch]
  prune = true  

[push]
  default = upstream

[alias]
  amend = commit --amend --no-edit