[pull]
  rebase = true

[user]
  name = troy.schneringer
  email = troy.schneringer@gmail.com

[core]
  editor = nano

[color]
  ui = true

[push]
  default = simple

[alias]
  amend = commit --amend --no-edit